<html>

<head>
  <link rel="stylesheet" href="/id360/static/style_mobile.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
  <div id="page">
    <div id="large">
      <div id="menuDiv" class="nav-02__list_wrapper  ">
        <div class="nav-02__list nav-02__list--desktop">
          <div class="nav-02__item">
            <a class="button   button--black-outline  button--empty " href="https://altme.io/#slider-07-879531"
              target="_self">
              <p class="linkP"> Wallet features
              </p>
            </a>
          </div>
          <div class="nav-02__item" id="newsNav">
            <a class="button   button--black-outline  button--empty " href="https://altme.io/#posts-05-876621"
              target="_self">
              <p class="linkP">News</p>

            </a>
          </div>
          <div class="nav-02__item" id="roadmapNav">
            <a href="https://altme.io/#features-09-390941" target="_self">
              <p class="linkP">Roadmap</p>

            </a>
          </div>
          <div class="nav-02__item" id="faqNav">
            <a class="button   button--black-outline  button--empty " href="#superFaq" target="_self">
              <p class="linkP">FAQ</p>
            </a>
          </div>
          <div class="nav-02__item">

            <a data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url=""
              data-cancel-payment-url="" class="button button--accent-bg "
              href="/cdn-cgi/l/email-protection#e094888985929299a0818c948d85ce898f" target="_blank">
              <div class="contactSpan">
                <p class="contactP">Contact</p>
              </div>
            </a>
          </div>
        </div>


      </div>
      <div class="js-nav nav-02  nav-02--sticky  nav-02--sticky--white  ">
        <div class="nav-02__box">
          <div class="nav-02__logo">
            <a class="nav-02__link" href="https://altme.io/" target="_self">
              <img loading="lazy" class="nav-02__logo_img"
                src="https://ucarecdn.com/1e7c036a-046a-4447-8dd2-91139cedc3ef/" height="70" alt="Logo" />
            </a>
          </div>


        </div>
        <button id="buttonMenu">
          <div id="buttonMenuLogo">
            <img id="imageButtonMenu" class="imgButtonMenuInactive" src="/altme-identity/static/div.png">
          </div>
        </button>

      </div>
      <div id="body">
        <div id="mainBox">
          <div id="progressBox">
            <p id="inProgress">Your {{verified}} has been verified</p>
            <p id="yourId"></p>
            <div id="newBox">
              <a id="buttonQrcode" href="https://app.altme.io/app/download?uri={{url}}">Click here to get your VC</a>
              <img id="arrowImg" src="/id360/static/Arrow-right.png">
              <img id="card" src="/id360/static/{{card}}.png">
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>

  <div id="footer" class="bg-white-color ">
    <footer class="footer-02" id="footer">

      <div class="footer-02__wrapper">
        <div class="footer-02__text content_box">
          <p id="line1Footer">&copy; 2023&nbsp; TALAO - Altme All rights reserved, <a href="https://altme.io/cgu/"
              target="_blank">CGU</a>, <a href="https://altme.io/privacy/" target="_blank">Privacy</a></p>
          <p id="line2Footer" hidden><strong>Built with TzKT API, Spruce Didkit 0.4.0</strong>&nbsp;</p>
        </div>
        <div class="social-buttons  ">

          <div class="social-buttons__item twitter"><a class="social-buttons__link social-buttons__link--twitter"
              href="https://twitter.com/Altme_io" target="_blank"><img loading="lazy" class="social-buttons__icon"
                alt="twitter icon"
                src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/social/black/twitter.svg" /></a></div>
          <div class="social-buttons__item linkedin"><a class="social-buttons__link social-buttons__link--linkedin"
              href="https://www.linkedin.com/company/altme-web3/" target="_blank"><img loading="lazy"
                class="social-buttons__icon" alt="linkedin icon"
                src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/social/black/linkedin.svg" /></a></div>

        </div>
      </div>

    </footer>
  </div>


  <script>
    /*var qrcodeGen = false;
    fetch("/id360/get_qrcode/{{code}}").then((res) => {
      res.json().then(temp => {
        if (temp.url === "error") {
          window.location.href = "https://{{callback}}/400"
        }
        else if (temp.url === "not_yet") {
          return
        }
        else {
          if (!qrcodeGen) { displayQrCode(temp.url); qrcodeGen = true }
        }
      })


    })
    var source = new EventSource('/id360/qr_code_stream');
    source.onmessage = function (event) {
      const result = JSON.parse(event.data);
      console.log(result)
      if (result.type === "callback") {
        if (result.code === '{{code}}') {
          if (!qrcodeGen) { displayQrCode(result.url); qrcodeGen = true }
        }
      }
      if (result.type === "callbackErr") {
        if (result.code === '{{code}}') {
          console.log(result.url)
          window.location.href = "https://" + result.url;
        }
      }
    };
    
    function displayQrCode(url) {
      let element = document.getElementById('folder');
      element.remove();
      let newBox = document.createElement("div")
      document.getElementById("progressBox").appendChild(newBox);
      newBox.setAttribute('id', 'newBox')

      let qrcode = document.createElement("a")
      document.getElementById("newBox").appendChild(qrcode);
      qrcode.setAttribute('id', 'buttonQrcode')
      qrcode.setAttribute('href', 'https://app.altme.io/app/download?uri=' + url)

      qrcode.innerHTML = "Click here to get your VC"

      let arrow = document.createElement("img")
      document.getElementById("newBox").appendChild(arrow);
      arrow.setAttribute('id', 'arrowImgIssuer')
      arrow.setAttribute('src', '/id360/static/Arrow-right.png')


      let card = document.createElement("img")
      document.getElementById("newBox").appendChild(card);
      card.setAttribute('id', 'card')
      card.setAttribute('src', '/id360/static/card.png')

      document.getElementById("inProgress").innerHTML = "Your ID has been verified !"
      document.getElementById("yourId").innerHTML = "Scan this final QR code with Altme to get your ID"
      //document.getElementById("yourId").setAttribute("id", "ScanToGet")
    }
    
*/
    var source = new EventSource('/id360/issuer_stream');
    source.onmessage = function (event) {
      const result = JSON.parse(event.data);
      //console.log(result)
      if (result.code === '{{code}}' && result.type === "altmeTransfered") {
        //if (vc_type === "VerifiableId") { window.location.href = "https://{{callback}}/200"; }
        //else { window.location.href = "https://{{callback}}/201"; }
        document.getElementById("inProgress").innerHTML="Well done !"
        document.getElementById("yourId").innerHTML="You have successfully claimed your digital ID in Altme"
        document.getElementById("newBox").remove()
        let success = document.createElement("img")
        document.getElementById("progressBox").appendChild(success)
        success.setAttribute("id","successImg")
        success.setAttribute("src","/id360/static/Mobile-credential-success-{{card}}.png")

      }
      if (result.code === '{{code}}' && result.type === "error") {
        window.location.href = "https://{{callback}}/" + result.error;
      }

    }
    document.getElementById('buttonMenu').addEventListener('click', () => {
      //console.log(document.getElementById('buttonMenu').getAttribute("class"))
      if (document.getElementById('imageButtonMenu').getAttribute("class") === "imgButtonMenuInactive") {
        document.documentElement.setAttribute("class", "noScroll");
        document.getElementById('menuDiv').setAttribute("class", "menuActive");

        document.getElementById('mainBox').setAttribute("class", "toHide");

        document.getElementById('imageButtonMenu').setAttribute("class", "imgButtonMenuActive");
        document.getElementById('imageButtonMenu').setAttribute("src", "https://talao.co/altme-identity/static/crossMenu.png")
      }
      else if (document.getElementById('imageButtonMenu').getAttribute("class") === "imgButtonMenuActive") {
        document.documentElement.setAttribute("class", "");
        document.getElementById('menuDiv').setAttribute("class", "nav-02__list_wrapper");
        document.getElementById('mainBox').setAttribute("class", "");


        document.getElementById('imageButtonMenu').setAttribute("class", "imgButtonMenuInactive");
        document.getElementById('imageButtonMenu').setAttribute("src", "https://talao.co/altme-identity/static/div.png")

      }
    })
  </script>
</body>

</html>